.thumbnail.col-lg-2.col-md-5.col-sm-6.col-xs-12
  %img{:src => product.photo, :alt => product.name, :style => 'height: 200px'}
  .caption
    %h3= product.name
    %p= product.description
    %h4= 'price'
    %p
      %a.btn.btn-info{"href" => "#", "role" => "button"}= "Подробно"
      %a.btn.btn-warning{"href" => "#", "role" => "button"}= "В корзину"